@import "syntax-variables";

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter, :host .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line, :host .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection, :host .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide, :host .wrap-guide {
  color: @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide, :host .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character, :host .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .marker .region, :host .search-results .marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region, :host .search-results .marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor, :host(.is-focused) .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region, :host(.is-focused) .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection, atom-text-editor.is-focused .line.cursor-line, :host(.is-focused) .line-number.cursor-line-no-selection, :host(.is-focused) .line.cursor-line {
  background-color: #0F2D40;
}

.comment {
  color: #6D6D6D;
}

.string {
  color: #8AD6F2;
}

.constant.numeric {
  color: #78BDD6;
}

.constant.language {
  color: #e57edd;
}

.constant.character, .constant.other {
  color: #56D1A7;
}

.variable {
  color: #FCC672;
}

.keyword {
  color: #E47D80;
}

.storage {
  color: #D95757;
}

.storage.type {
  font-style: italic;
  color: #FFB266;
}

.entity.name.class {
  //text-decoration: underline;
  //color: #F2AAEC;
  color: #fff;
}

.entity.other.inherited-class {
  font-style: italic;
  //text-decoration: underline;
  color: #F2AAEC;
}

.entity.name.function {
  color: #F2AAEC;
}

.variable.other.constant {
  color: #FCC672;
}

.variable.parameter {
  font-style: italic;
  color: #FFD2A6;
}

.entity.name.tag {
  color: #92E89D;
}

.entity.other.attribute-name {
  color: #93E690;
}

.punctuation.section.embedded.begin.asp, .punctuation.section.embedded.end.asp {
  color: #CFAFCF;
}

.support.function {
  color: #FFF;
}

.support.constant {
  color: #FFB266;
}

.support.type, .support.class {
  color: #F7FCA2;
}

.support.other.variable {
}

.punctuation.definition.tag.html, .punctuation.definition.tag.begin.html, .punctuation.definition.tag.end.html {
  color: #F7FCA2;
}

.support.other.namespace, .entity.name.type.namespace {
  color: #FFD2A6;
}

.support.other.namespace.use-as.php {
  color: #FFB266;
}

.variable.language.namespace.php {
  color: #D17B7B;
}

.punctuation.separator.inheritance.php {
  color: #E57EDD;
}

.entity.other.attribute-name.pseudo-class.css {
  font-style: italic;
  color: #93E690;
}

.support.function.misc.css, .support.constant.property-value.css, .support.constant.font-name.css {
  color: #FFD2A6;
}

.support.type.proerty {
  color: #242424;
}

.constant.numeric.css {
  color: #8AD6F2;
}

.variable.parameter.misc.css {
  color: #78BDD6;
}

.entity.other.tagbraces.twig {
  color: #E57EDD;
}

.keyword.control.twig {
  color: #FFB266;
}

.variable.other.twig {
  color: #FFCCFB;
}

.support.function.filter.twig {
  color: #D95757;
}

.support.function.filter.variable.twig {
  color: #E57EDD;
}

.entity.name.function.twig {
  color: #D95757;
}

.entity.other.argument.twig {
  color: #FFB2B2;
}

.invalid {
  color: #F8F8F0;
  background-color: #D95757;
}

.invalid.deprecated {
  color: #F8F8F0;
  background-color: #E57EDD;
}

.constant.character.escaped, .constant.character.escape, .string .source, .string .source.ruby {
  color: #6D6D6D;
}
