@import "syntax-variables";

atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide {
  color: @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .syntax--marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .syntax--marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection, atom-text-editor.is-focused .line.cursor-line {
  background-color: #0F2D40;
}

.syntax--comment {
  color: #6D6D6D;
}

.syntax--string {
  color: #8AD6F2;
}

.syntax--constant.syntax--numeric {
  color: #78BDD6;
}

.syntax--constant.syntax--language {
  color: #e57edd;
}

.syntax--constant.syntax--character, .syntax--constant.syntax--other {
  color: #56D1A7;
}

.syntax--variable {
  color: #FCC672;
}

.syntax--keyword {
  color: #E47D80;
}

.syntax--storage {
  color: #D95757;
}

.syntax--storage.syntax--type {
  font-style: italic;
  color: #FFB266;
}

.syntax--entity.syntax--name.syntax--class {
  //text-decoration: underline;
  //color: #F2AAEC;
  color: #fff;
}

.syntax--entity.syntax--other.syntax--inherited-class {
  font-style: italic;
  //text-decoration: underline;
  color: #F2AAEC;
}

.syntax--entity.syntax--name.syntax--function {
  color: #F2AAEC;
}

.syntax--variable.syntax--other.syntax--constant {
  color: #FCC672;
}

.syntax--variable.syntax--parameter {
  font-style: italic;
  color: #FFD2A6;
}

.syntax--entity.syntax--name.syntax--tag {
  color: #92E89D;
}

.syntax--entity.syntax--other.syntax--attribute-name {
  color: #93E690;
}

.syntax--punctuation.syntax--section.syntax--embedded.syntax--begin.syntax--asp, .syntax--punctuation.syntax--section.syntax--embedded.syntax--end.syntax--asp {
  color: #CFAFCF;
}

.syntax--support.syntax--function {
  color: #FFF;
}

.syntax--support.syntax--constant {
  color: #FFB266;
}

.syntax--support.syntax--type, .syntax--support.syntax--class {
  color: #F7FCA2;
}

.syntax--support.syntax--other.syntax--variable {
}

.syntax--punctuation.syntax--definition.syntax--tag.syntax--html, .syntax--punctuation.syntax--definition.syntax--tag.syntax--begin.syntax--html, .syntax--punctuation.syntax--definition.syntax--tag.syntax--end.syntax--html {
  color: #F7FCA2;
}

.syntax--support.syntax--other.syntax--namespace, .syntax--entity.syntax--name.syntax--type.syntax--namespace {
  color: #FFD2A6;
}

.syntax--support.syntax--other.syntax--namespace.syntax--use-as.syntax--php {
  color: #FFB266;
}

.syntax--variable.syntax--language.syntax--namespace.syntax--php {
  color: #D17B7B;
}

.syntax--punctuation.syntax--separator.syntax--inheritance.syntax--php {
  color: #E57EDD;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--pseudo-class.syntax--css {
  font-style: italic;
  color: #93E690;
}

.syntax--support.syntax--function.syntax--misc.syntax--css, .syntax--support.syntax--constant.syntax--property-value.syntax--css, .syntax--support.syntax--constant.syntax--font-name.syntax--css {
  color: #FFD2A6;
}

.syntax--support.syntax--type.syntax--property {
  color: #242424;
}

.syntax--constant.syntax--numeric.syntax--css {
  color: #8AD6F2;
}

.syntax--variable.syntax--parameter.syntax--misc.syntax--css {
  color: #78BDD6;
}

.syntax--entity.syntax--other.syntax--tagbraces.syntax--twig {
  color: #E57EDD;
}

.syntax--keyword.syntax--control.syntax--twig {
  color: #FFB266;
}

.syntax--variable.syntax--other.syntax--twig {
  color: #FFCCFB;
}

.syntax--support.syntax--function.syntax--filter.syntax--twig {
  color: #D95757;
}

.syntax--support.syntax--function.syntax--filter.syntax--variable.syntax--twig {
  color: #E57EDD;
}

.syntax--entity.syntax--name.syntax--function.syntax--twig {
  color: #D95757;
}

.syntax--entity.syntax--other.syntax--argument.syntax--twig {
  color: #FFB2B2;
}

.syntax--invalid {
  color: #F8F8F0;
  background-color: #D95757;
}

.syntax--invalid.syntax--deprecated {
  color: #F8F8F0;
  background-color: #E57EDD;
}

.syntax--constant.syntax--character.syntax--escaped, .syntax--constant.syntax--character.syntax--escape, .syntax--string .syntax--source, .syntax--string .syntax--source.syntax--ruby {
  color: #F2AAEC;
}
